.container
	%h1 All Strains
	%br
	%br
#products-wrapper
	- @weeds.each_slice(3) do |r|
		.row.index-product-row
			- r.each do |weed|
				%a{ href: weed_path(weed)	}
					.col-sm-4.index-product
						%h2= weed.name
						%p
							Mood:
							= weed.mood
						%br
						%p= weed.strength
